@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.andre-card {
  width: 360px;
  height: 360px;
  background: #f3e6cc;
  border-radius: 10px;
  border: 4px solid #d1b98b;
  position: relative;
  overflow: hidden;
}

canvas {
  width: 360px;
  height: 360px;
  /* width: 100%;
  height: 100%; */
  cursor: crosshair;
}


/* .actions {
  position: absolute;
  right: 14px;
  bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
} */


.main-color {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
  border:3px solid white;
}


.picker {
  display: flex;
  flex-direction: row;
  gap: 6px;
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.35s ease;
}

.picker.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.color-block {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
}


.btn {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background: white;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  position: absolute;
  bottom: 14px;
  left: 85%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
   align-items: center; 
  gap: 10px;
  z-index: 10;
}

.color-pickers {
  position: relative;
}


.picker {
  position: absolute;
  bottom: 44px; 
  left: 50%;
  transform: translateX(-50%) translateY(12px);
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.35s ease;
}


.picker.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.color-block {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  border:4px solid white;
}

