.projects-card-vertical {
  display: flex;
  flex-direction: column;
  gap: 100px; 
  align-items: center; 
  padding-top: 70px;
}

.project-card-vertical {
  width: 90%;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.project-card-vertical img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.15);
  margin-bottom: 16px;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-header h1 {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  margin-left: 320px;
  margin-top:75px;
}



.project-text h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

.project-text p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.75;
  max-width: 520px;
  text-align: left; 
}

body.dark-theme .project-card-vertical img {
  background-color:white;
}
