@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

body {
  overflow-y: auto;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  transition: background 0.3s ease, color 0.3s ease;
}

/* ===== DARK THEME ===== */
body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

/* main scroll container */
/* .app-wrapper {
  min-height: 100vh;
  padding-bottom: 90px;
} */